* {
  font-size: 10px;
}

body {
    font-family: Poppins;
    background-color: #f2f2f2;
}

#mainContent {
    border-radius: 10px;
    border: 1px solid white;
    width: 40%;
    height: 60vh;
    background-color: #ffffff;
    overflow: scroll;
    margin:auto;
    margin-top: 10%;
    box-shadow: 0 1.5px 1.5px 2px #80808040;
}

#mainContent::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }

  #studentContainer {
    list-style-type: none;
  }

.user {
    display: flex;
    flex-direction: row;
}

.user .pic {
    border: thin solid white;
    border-radius: 50%;
    height:160px;
    width: 150px;
    margin: 20px 20px 10px 20px;
    background-color: black;
}

.user .sprite {
    width: 80px;
}

.user section {
    float: right;
}

.toggle {
    display: none;
  }
  
  .option {
    position: relative;
  }
  
  .title,
  .content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s;
  }
  
  .title {
    background: #ffffff00;
    display: block;
    color: black;
    font-weight: bold;
  }
  .title:after {
    content: "\002B";
    position: relative;
    right: -630px;
    top: -185px;
    font-size: 30px;
    color: gray;
    background-color: white;
    transition: all 0.2s;
  }
  
  .title:before {
    content: '\002D';
    position: relative;
    right: -648px;
    top: -185px;
    font-size: 30px;
    color: gray;
    background-color: white;
    transition: all 0.1s;
  }

.content {
    margin-left: 212px;
    margin-top: -50px;
    margin-bottom: 10px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.1s;
}

.toggle:checked {
    & + .title + .content {
      max-height: 500px;
    }
    & + .title:after {
        opacity: 0;
    }
  }

.user h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
}

.user p {
    padding: 2px;
    margin: 0;
    font-size: 1.5rem;
}

#searchbar {
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    padding: 15px 0 4px 10px;
    border: none;
    border-bottom: thin solid lightgray;
  }

  #searchbar:focus {
    outline: none;
}

@media only screen and (max-width: 1500px) {
  .pic {
    display: none;
  }

  .user section {
    float: none;
  }

  .title {
    display: none;
  }

  #mainContent {
    margin-top: 10%;
    width: 50%;
    height: 70vh;
}

.user .info {
  margin-left: -15px;
  padding: 0;
  margin-top: 50px;
}
}

@media only screen and (max-width: 700px) {
  #mainContent {
    width: 100%;
    height: 100vh;
    margin-top: 0;
  }
}